<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.nfccardemulation">

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
            android:name="android.hardware.nfc.hce"
            android:required="true"/>

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".CardListActivity">
        </activity>
        <activity android:name=".NotificationActivity">
        </activity>
        <activity android:name=".ReportsActivity">
        </activity>
        <activity
                android:name=".GeneralActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".LoginActivity"
                android:label="@string/title_activity_login"
                android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".RegisterActivity"
                android:theme="@style/AppTheme.Dark">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>